@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
* {
  font-family: 'VT323', monospace !important;
  font-weight: lighter !important;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  background-color: #000 !important;
  color: #fff;
}

body {
  background-color: #000 !important;
  color: #fff;
  text-align: center;
}

u {
  text-decoration: underline;
  margin-top: 2em;
}

p {
  font-size: 1.5em;
}

.container {
  background-color: #000 !important;
  color: #fff;
  min-width: 98vw;
  min-height: calc(100vh - 25px);
}

.gamebox {
  background-color: #000 !important;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.title {
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 3rem;
}

.fa {
  font-size: 1.5em;
  cursor: pointer;
  margin: 0.25em;
}

#defensive {
  cursor: pointer;
}

#sneaky {
  cursor: pointer;
}

#aggressive {
  cursor: pointer;
}

#reset {
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  outline: 0;
}

#winner {
  font-weight: bold;
}

tbody {
  border-radius: 5px;
}

.health {
  border-bottom: 3px solid #fff;
  font-size: 2em;
}

.computeranswer {
  margin: 2em;
}

table {
  font-size: 0.7em;
  border: 3px solid #fff;
  margin: auto;
}

th {
  font-size: 2em;
  border-bottom: 2px solid black;
}

td, h5 {
  font-size: 1.5em;
}

td,
td {
  padding: .50em;
}

button {
  border: 2px solid #000;
  background: #fff;
  font-size: 1.5em;
  margin: 1em;
  cursor: pointer;
}

button:hover {
  background: #000;
  color: #fff;
  border: 2px solid #000;
}

footer {
  background-color: #000 !important;
  color: #fff;
  border-top: solid 1px #fff;
  height: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer a {
  background-color: #000;
  color: #fff;
}

.gameVictory {
  padding: 20px;
  background-color: green;
  color: white;
  min-height: 100vh;
  text-align: center;
}

.gameOver {
  padding: 20px;
  background-color: red;
  color: white;
  min-height: 100vh;
  text-align: center;
}

.hidden {
  display: none;
}

.pick:hover {
  cursor: pointer;
}

.pick:active {
  font-size: 10px;
}

.pickimg:hover {
  cursor: pointer;
}

.pickimg:active {
  width: 96%;
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  img {
    max-width: 50%;
  }
  .wand {
    max-width: 15%;
  }
  .title {
    font-size: 2.2em;
  }
  u {
    font-size: 0.6em;
  }
  p {
    font-size: 15px;
  }
  .usercontainer {
    font-size: 12px;
  }
  .spells {
    font-size: 12px;
  }
  .health-board {
    font-size: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  img {
    max-width: 60%;
  }
  .wand {
    max-width: 20%;
  }
  .title {
    font-size: 2em;
  }
  u {
    font-size: 0.8em;
  }
  p {
    font-size: 16px;
  }
  .usercontainer {
    font-size: 14px;
  }
  .spells {
    font-size: 14px;
  }
  .health-board {
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  img {
    max-width: 70%;
  }
  .wand {
    max-width: 40%;
  }
  .title {
    font-size: 2.5em;
  }
  u {
    font-size: 1em;
  }
  p {
    font-size: 17px;
  }
  .usercontainer {
    font-size: 16px;
  }
  .spells {
    font-size: 16px;
  }
  .health-board {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  img {
    max-width: 80%;
  }
  .wand {
    max-width: 60%;
  }
  .title {
    font-size: 2.7em;
  }
  u {
    font-size: 1.7em;
  }
  p {
    font-size: 18px;
  }
  .usercontainer {
    font-size: 18px;
  }
  .spells {
    font-size: 18px;
  }
  .health-board {
    font-size: 16px;
  }
}

.backgYellow {
  background: yellow !important;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.backgBlue {
  background: blue !important;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.backgRed {
  background: red !important;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */