* {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
    user-select: none;
}

html {
    background-color: #000 !important;
    color: #fff;
}

body {
    background-color: #000 !important;
    color: #fff;
    text-align: center;
}

h3 {
    text-decoration: underline;
    margin-top: 2em;
}

p {
    font-size: 20px;
}

.container {
    background-color: #000 !important;
    color: #fff;
    min-width: 98vw;
    min-height: calc(100vh - 25px);
}

.gamebox {
    background-color: #000 !important;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.title {
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 3rem;
}

.fa {
    font-size: 1.5em;
    cursor: pointer;
    margin: 0.25em;
}

#defensive {
    cursor: pointer;
}

#sneaky {
    cursor: pointer;
}

#aggressive {
    cursor: pointer;
}

#reset {
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    outline: 0;
}

#winner {
    font-weight: bold;
}

tbody {
    border-radius: 5px;
}

.health {
    border-bottom: 3px solid #fff;
    font-size: 20px;
}

.computeranswer {
    margin: 2em;
}

table {
    font-size: 0.7em;
    border: 3px solid #fff;
    margin: auto;
}

th {
    font-size: 2em;
    border-bottom: 2px solid black;
}

td {
    font-size: 1.5em;
}

td,
td {
    padding: .50em;
}

button {
    border: 2px solid #000;
    background: #fff;
    font-size: 1.5em;
    font-family: Monospace;
    margin: 1em;
    cursor: pointer;
}

button:hover {
    background: #000;
    color: #fff;
    border: 2px solid #000;
}

footer {
    background-color: #000 !important;
    color: #fff;
    border-top: solid 1px #fff;
    height: 20px;
    align-items: flex-end;
    justify-content: center;
    text-align: center;

    a {
        background-color: #000;
        color: #fff;
    }
}

.gameVictory {
    padding: 20px;
    background-color: green;
    color: white;
    min-height: 100vh;
    text-align: center;
}

.gameOver {
    padding: 20px;
    background-color: red;
    color: white;
    min-height: 100vh;
    text-align: center;

}

.hidden {
    display: none;
}

.pick:hover {
    cursor: pointer;
}

.pick:active {
    font-size: 10px;
}


@media screen and (min-width: 0px) and (max-width: 320px) {
    img {
        max-width: 60%;
    }

    .title {
        font-size: 2.1em;
    }

    h3 {
        margin-top: 1.1em;
    }

    p {
        font-size: 15px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    img {
        max-width: 70%;
    }

    .title {
        font-size: 2.3em;
    }

    h3 {
        margin-top: 1.3em;
    }

    p {
        font-size: 16px;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    img {
        max-width: 80%;
    }

    .title {
        font-size: 2.5em;
    }

    h3 {
        margin-top: 1.5em;
    }

    p {
        font-size: 17px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    img {
        max-width: 90%;
    }

    .title {
        font-size: 2.7em;
    }

    h3 {
        margin-top: 1.7em;
    }

    p {
        font-size: 18px;
    }
}