@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
* {
  font-family: "VT323", monospace !important;
  font-weight: lighter !important;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  user-select: none;
  margin-left: auto !important;
  margin-right: auto !important;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("https://i.ibb.co/fnYmCC3/back1.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
}

u {
  text-decoration: underline;
  margin-top: 2em;
}

p {
  font-size: 1.5em;
  margin-bottom: 0px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.container {
  color: #fff;
  min-width: 98vw;
  min-height: calc(100vh - 21px);
}

.stamina-board {
  padding-top: 10px;
}

.spells {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

.gamebox {
  padding-bottom: 10px;
  padding-top: 10px;
  min-height: calc(100vh - 21px);
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title {
  font-weight: bold;
  margin-bottom: 0px !important;
  font-size: 3rem;
}

.fa {
  font-size: 1.5em;
  cursor: pointer;
  margin: 0.25em;
}

#defensive {
  cursor: pointer;
}

#sneaky {
  cursor: pointer;
}

#aggressive {
  cursor: pointer;
}

#reset {
  line-height: 50%;
  height: 30px;
  padding: 10px;
  margin-top: 10px !important;
  outline: 0;
  margin: 0 auto;
  max-width: 100px;
  text-align: center;
}

#resethover {
  cursor: pointer;
  border: inset 1px #fff !important;
}

.stamina-board {
  min-width: 200px;
  padding: 5px;
  font-size: 12px;
}

#winner {
  font-weight: bold;
}

tbody {
  border-radius: 5px;
}

.computeranswer {
  max-width: 570px !important;
  margin-top: 10px;
  border: 2px inset #fff;
  text-align: center;
}

table {
  font-size: 0.7em;
  border: 3px inset #fff;
  margin: auto;
}

th {
  font-size: 2em;
  border-bottom: 2px inset black;
}

td,
h5 {
  font-size: 1.5em;
}

td,
td {
  padding: 0.5em;
}

button {
  border: 2px inset #000;
  background: #fff;
  font-size: 1.5em;
  margin: 1em;
  cursor: pointer;
}

button:hover {
  background: #000;
  color: #fff;
  border: 2px inset #000;
}

footer {
  background-color: #000 !important;
  color: #fff;
  border-top: inset 1px #fff;
  height: 21px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer a {
  color: #fff;
}

.hidden {
  display: none;
}

.pick:hover {
  cursor: pointer;
}

.pick:active {
  width: 95%;
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .fa {
    max-width: 100px !important;
  }
  img {
    max-width: 50%;
  }
  .wand {
    max-width: 15%;
  }
  .title {
    font-size: 2.2em;
  }
  u {
    font-size: 0.6em;
  }
  p {
    font-size: 15px;
  }
  .usercontainer {
    font-size: 12px;
  }
  .spells {
    font-size: 12px;
  }
  .stamina-board {
    font-size: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .fa {
    max-width: 95px !important;
    font-size: 14px;
  }
  .stamina-board {
    font-size: 10px !important;
  }
  img {
    max-width: 60%;
  }
  .wand {
    max-width: 20%;
  }
  .title {
    font-size: 2em;
  }
  u {
    font-size: 0.8em;
  }
  p {
    font-size: 16px;
  }
  .usercontainer {
    font-size: 14px;
  }
  .spells {
    font-size: 14px;
  }
  .stamina-board {
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .fa {
    max-width: 130px;
    font-size: 20px;
  }
  img {
    max-width: 70%;
  }
  .wand {
    max-width: 40%;
  }
  .title {
    font-size: 2.5em;
  }
  u {
    font-size: 1em;
  }
  p {
    font-size: 17px;
  }
  .usercontainer {
    font-size: 16px;
  }
  .spells {
    font-size: 16px;
  }
  .stamina-board {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  img {
    max-width: 80%;
  }
  .wand {
    max-width: 60%;
  }
  .title {
    font-size: 2.7em;
  }
  u {
    font-size: 1.7em;
  }
  p {
    font-size: 18px;
  }
  .usercontainer {
    font-size: 18px;
  }
  .spells {
    font-size: 18px;
  }
  .stamina-board {
    font-size: 16px;
  }
}

.backgYellow {
  background: yellow !important;
  padding-bottom: 10px;
  padding-top: 10px;
  min-height: 100vh;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  flex-direction: column;
}

.backgBlue {
  background: blue !important;
  padding-bottom: 10px;
  padding-top: 10px;
  min-height: 100vh;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  flex-direction: column;
}

.backgRed {
  background: red !important;
  padding-bottom: 10px;
  padding-top: 10px;
  min-height: 100vh;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  flex-direction: column;
}

.gameVictory {
  background-color: rgba(0, 177, 106, 0.8);
  color: white;
  text-align: center;
  min-height: calc(100vh - 21px);
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

.gameOver {
  background-color: rgba(207, 0, 15, 0.8);
  color: white;
  text-align: center;
  min-height: calc(100vh - 21px);
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

.main-title {
  padding: 5px;
  margin: 5px;
  max-width: 100%;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */